<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "Divisions" | localize }}</h1>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:;" class="btn-create" (click)="createDivision()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <!-- HEADER -->
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn-search" (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="keyword"
                                    [placeholder]="'SearchWithThreeDot' | localize" [(ngModel)]="keyword"
                                    (keyup.enter)="getDataPage(1)" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BODY -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" [busy]="isTableLoading">
                            <thead class="table-head">
                                <tr>
                                    <th class="th-name">{{ "Name" | localize }}</th>
                                    <th class="th-actions" style="width: 310px;">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="divisions?.length > 0">
                                <tr *ngFor="let division of divisions | paginate
                                    : {
                                        id: 'server',
                                        itemsPerPage: pageSize,
                                        currentPage: pageNumber,
                                        totalItems: totalItems
                                    } ">
                                    <td>{{ division.name }}</td>
                                    <td class="td-actions">
                                        <!-- EDIT -->
                                        <button type="button" class="btn btn-edit btn-sm mx-2" (click)="editDivision(division)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <!-- DELETE -->
                                        <button type="button" class="btn btn-delete btn-sm" (click)="delete(division)">
                                            <i class="fas fa-trash"></i>
                                        </button>  
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="divisions?.length == 0">                                
                                <tr>
                                    <td class="no-data-available" colspan="4">No record(s) found</td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                </div>
                <!-- FOOTER -->
                <div class="card-footer table-card-footer border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls
                                        id="server"
                                        (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>