<form class="form-horizontal" autocomplete="off" #createDivisionModal="ngForm" (ngSubmit)="save()">

    <!-- HEADER -->
    <abp-modal-header [title]="'CreateNewDivision' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <!-- BODY -->
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="divisionName">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="divisionName" id="divisionName" required
                    maxlength="32" [(ngModel)]="division.name" #divisionNameModel="ngModel" #divisionNameEl/>
                <abp-validation-summary [control]="divisionNameModel" [controlEl]="divisionNameEl"></abp-validation-summary>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createDivisionModal.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>

</form>
