<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "Foods" | localize }}</h1>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:;" class="btn btn-create" (click)="createFood()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button"
                                        class="btn-search"
                                        (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" 
                                    class="form-control"
                                    name="keyword"
                                    [placeholder]="'SearchWithThreeDot' | localize"
                                    [(ngModel)]="keyword"
                                    (keyup.enter)="getDataPage(1)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" [busy]="isTableLoading">
                            <thead class="table-head">
                                <tr>
                                    <th class="th-name">{{ "Name" | localize }}</th>
                                    <th class="th-image">{{ "Image" | localize }}</th>                                    
                                    <th class="th-availability">{{ "Availability" | localize }}</th>
                                    <th class="th-qty">{{ "Quantity" | localize }}</th>
                                    <th class="th-category">{{ "Category" | localize }}</th>
                                    <th class="th-type">{{ "Type" | localize }}</th>
                                    <th class="th-size">{{ "Size" | localize }}</th>
                                    <th class="th-price">{{ "Price" | localize }}</th>
                                    <th class="th-actions">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="foods?.length > 0">
                                <tr *ngFor="let food of foods | paginate
                                    : {
                                        id: 'server',
                                        itemsPerPage: pageSize,
                                        currentPage: pageNumber,
                                        totalItems : totalItems
                                    }"> 
                                    <td>{{ food.name }}</td>
                                    <td class="food-image"><img class="img" [src]="'data:' + food.imageFileType + ';base64,' + food.image"></td>                                    
                                    <td class="food-availability">{{ food.availability ? 'Available' : 'Not Available' }}</td>
                                    <td class="food-qty">{{ food.quantity }}</td>
                                    <td class="food-category">{{ food.category?.name }}</td>
                                    <td class="food-type">{{ food.type?.name }}</td>
                                    <td class="food-size">{{ food.size }}</td>
                                    <td class="food-price"><span class="currency-code">&#8369;</span>{{ food.price | number:'1.2-2' }}</td>
                                    <td class="food-action">
                                        <!-- EDIT -->
                                        <button type="button" class="btn btn-edit btn-sm mx-2" (click)="editFood(food)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <!-- DELETE -->
                                        <button type="button" class="btn btn-delete btn-sm" (click)="delete(food)">
                                            <i class="fas fa-trash"></i>
                                        </button>                                        
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="foods?.length == 0">
                                <tr>
                                    <td class="no-data-available" colspan="9">{{ 'NoRecordsFound' | localize}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)"></abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>