@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px !important;
    overflow: hidden;
}


$lightGreen : #34C6C2;
$darkGreen : #119CCE;

$lightPink : #FC875A;
$darkPink : #FD6D99;


$lightPurple : #F06EE9;
$darkPurple : #8463FB;


$lightCyan : #4EC9C4;
$darkCyan : #26BDB4;

$white : #ffffff;


$black : #000000;
$black333 : #444444;
$black444 : #444444;
$black555 : #444444;
$black666 : #444444;
$black777 : #777777;



@mixin dflexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin dflexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin dflexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.app-padding0 {
    padding: 0 !important;
}


.btn1 {
    background: linear-gradient(to right, $lightGreen, $darkGreen) !important;
    border-radius: 0px !important;
    border: 0 none !important;
}

.btn2 {
    background: linear-gradient(to right, $lightPink, $darkPink) !important;
    border-radius: 0px !important;
    border: 0 none !important;
}

.btn3 {
    background: linear-gradient(to right, $lightPurple, $darkPurple) !important;
    border-radius: 0px !important;
    border: 0 none !important;
}

.largeHeading {
    text-transform: uppercase;
    color: $darkGreen;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 18px;
}



.appSideNav {
    height: 100vh;
    padding: 0px 30px;

    .appLogo {
        color: $lightGreen;
        font-size: 30px;
        font-weight: 600;
        height: 75px;
        line-height: 75px;
        text-align: center;
    }

    .appProfile {
        @include dflexStart();
        margin: 20px 0 40px 0px;

        .appProfileImg {
            width: 75px;
            height: 75px;
            border: 2px solid #ddd;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;

            // img {}
        }

        .appProfileContent {
            h4 {
                margin-bottom: 5px;
                font-weight: 600;
            }

            // small {}
        }
    }

    .appMenu {
        ul {
            margin-bottom: 25px;

            li {
                &.active a {
                    color: $lightGreen;
                }

                a {
                    @include dflexSpaceBetween();
                    color: $black444;
                    text-decoration: none;
                    padding: 12px 0px;
                    transition: all 0.4s;

                    &:hover {
                        color: $lightGreen;
                    }
                }
            }
        }
    }

    button {
        padding: 10px;
        font-size: 16px;
    }


}


.appContent {
    height: 100vh;
    background: #f5f5f5;
}


.appHeader {
    background: $white;
    min-height: 75px;

    .navbar {
        margin: 0;
        min-height: 75px;
        border: 0 none;

        .navbar-form {
            margin: 0px;
            padding: 0px;

            .input-group {
                input[type='text'] {
                    border: 0 none;
                    min-height: 75px;
                    box-shadow: none;
                }

                .input-group-btn {
                    button {
                        border: 0 none;
                        min-height: 75px;
                        border-radius: 0;

                        i {
                            color: $black777;
                        }
                    }
                }
            }

        }

        ul {
            margin: 12px 15px 0 0;

            li {
                a {
                    color: $black444;
                    font-size: 20px;
                    position: relative;

                    &:hover {
                        background: none;
                        color: $darkPurple;
                    }
                }
            }
        }

    }
}



.mainContent {
    padding: 25px 25px 0;

    .appCards {
        .appCard {
            padding: 25px;
            color: $white;
            overflow: hidden;
            border-radius: 0px;
            position: relative;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2196078431372549);

            span {
                position: absolute;
                bottom: -40px;
                right: -25px;
                font-size: 130px;
                opacity: 0.2;
            }

            h4 {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 0px;
            }

            // h2 {
            //     // i {}
            // }

            // small {
            //     // i {}
            // }
        }

        .appCard1 {
            background: linear-gradient(to right, $lightGreen, $darkGreen);
        }

        .appCard2 {
            background: linear-gradient(to right, $lightPink, $darkPink);
        }

        .appCard3 {
            background: linear-gradient(to right, $lightPurple, $darkPurple);
        }

        .appCard4 {
            background: linear-gradient(to right, $lightCyan, $darkCyan);
        }
    }


    .appTable {
        padding: 15px;
        background: $white;
        margin-top: 25px;

        table {
            thead {
                tr {
                    th {
                        padding: 12px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 12px;

                    }
                }
            }
        }
    }
}