<form class="form-horizontal" autocomplete="off" #createCustomerModal="ngForm" (ngSubmit)="save()">

    <!-- HEADER -->
    <abp-modal-header [title]="'EditCustomer' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <!-- BODY -->
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="customerName"> {{ "Name" | localize }} </label>
                <div class="col-md-9">
                    <input type="text"class="form-control" name="customerName" id="customerName" required
                    maxlength="32" [(ngModel)]="customer.name" #customerNameModel="ngModel" #customerNameEl/>
                    <abp-validation-summary [control]="customerNameModel" [controlEl]="customerNameEl"></abp-validation-summary>
                </div>
        </div>

        <!-- DIVISION -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="divisionName"> {{ "Division" | localize }} </label>
            <div class="col-md-9">
                <select [ngModel]="selectedDivisionId" (ngModelChange)="selectedDivisionId=$event" 
                    name="name" id="name" required>
                    <option *ngFor="let division of divisions" [ngValue]="division.id">
                        {{ division.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createCustomerModal.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
    
</form>