<form class="form-horizontal" autocomplete="off" #createOrEditTypeModal="ngForm" (ngSubmit)="save()">

    <!-- HEADER -->
    <abp-modal-header *ngIf="isEdit == false" [title]="'CreateType' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <abp-modal-header *ngIf="isEdit == true" [title]="'EditType' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <!-- BODY -->
    <div class="modal-body">  
        <!-- NAME -->  
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="typeName">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="typeName" id="typeName" required
                    maxlength="32" [(ngModel)]="type.name" #typeNameModel = "ngModel" #typeNameEl/>
                <abp-validation-summary [control]="typeNameModel" [controlEl]="typeNameEl"></abp-validation-summary>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createOrEditTypeModal.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>

</form>