<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "ReviewOrders" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <!-- <th><input type="checkbox" [checked]="isCheckBoxAllTicked()" (change)="tickedAllCheckbox($event)"></th> -->
                                        <th class="th-foodImg">Food</th>
                                        <th class="th-name">Name</th>
                                        <th class="th-size">Size</th>
                                        <th class="th-qty">Quantity</th>
                                        <th class="th-price">Price</th>
                                        <th class="th-notes">Notes</th>
                                        <th class="th-date">Date</th>
                                        <th class="th-time">Time</th>
                                        <th class="th-actions">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="orders?.length > 0">
                                    <tr *ngFor="let order of orders; let i = index;">
                                        <!-- <td>
                                            <div class="checkbox">
                                                <input type="checkbox" value="{{order.id}}" [(ngModel)]="order[i].checked"  >
                                            </div>
                                        </td> -->
                                        <td class="td-img">
                                            <img class="img-md" [src]="'data:' + order.food?.imageFileType + ';base64,' + order.food?.image">
                                        </td>

                                        <td class="td-foodName">
                                            <div class="img-Name">
                                                <var class="imageName">{{order.food?.name}}</var>
                                            </div> 
                                        </td>

                                        <td class="td-orderSize">
                                            <div class="order-Size">
                                                <var class="orderSize">{{order.size}}</var>
                                            </div>
                                        </td>

                                        <td class="td-qty">
                                            <div class="qty-wrap">
                                                <var class="qty">
                                                    <input #inputQty type="number" class="form-control"
                                                     value="1" min="1" max={{order.food?.quantity}} [(ngModel)]="order.quantity" (ngModelChange)="CheckQtyInput($event, inputQty, order.food?.quantity)" disabled/>
                                                </var>
                                            </div>
                                        </td>    

                                        <td class="td-price">
                                            <div class="price-wrap"> 
                                                <var class="price"><span class="currency-code">&#8369;</span>{{ order.totalPrice * order.quantity | number:'1.2-2' }}</var>
                                            </div>
                                        </td>

                                        <td class="td-notes"> 
                                            <div class="notes-wrap">
                                                <var class="qty">
                                                    <textarea #textarea class="form-control" [(ngModel)]="order.notes" disabled></textarea>
                                                </var>
                                            </div> 
                                        </td>
                                        
                                        <td class="td-date"> 
                                            <div class="div-date">
                                                <var class="var-date">{{order.dateTimeOrdered | date: 'MM-dd-yyyy'}}</var>
                                            </div>  
                                        </td>

                                        <td class="td-time"> 
                                            <div class="div-time">
                                                <var class="var-time">{{order.dateTimeOrdered | date: 'HH:mm a'}}</var>
                                            </div>  
                                        </td>

                                        <td class="td-actions"> 
                                            <!-- {{ "Edit" | localize }} -->
                                            <button (click)="textarea.disabled = false; inputQty.disabled = false" type="button" class="btn btn-edit btn-sm mx-2">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                            <!-- {{ "Delete" | localize }} -->
                                            <button type="button" class="btn btn-delete btn-sm" (click)="delete(order)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="orders?.length == 0">
                                    <tr>
                                        <td class="no-data-available" colspan="9">{{ 'NoRecordsFound' | localize}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>

                <aside class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total Item/s:</dt>
                                <dd class="text-right ml-3">{{ orders.length}}</dd>
                            </dl>

                            <dl class="dlist-align">
                                <dt>Total Amount to Pay:</dt>
                                <dd class="text-right ml-3"><span class="currency-code">&#8369;</span> {{ priceTotal | number:'1.2-2' }}</dd>
                            </dl>
                            <hr>
                            <button class="btn btn-out btn-square btn-main" (click)="placeOrder(orders)" href="#Orders" *ngIf="orders.length > 0">Place Order</button>
                            <button class="btn btn-out btn-square btn-main" (click)="placeOrder(orders)" href="#Orders" *ngIf="orders.length == 0" disabled>Place Order</button> 
                            <!-- <a class="btn btn-out btn-square btn-main" (click)="placeOrder(orders)"> Place Order </a> -->
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </section>


</div>