<form class="form-horizontal" autocomplete="off" #createOrEditFoodModal="ngForm" (ngSubmit)="saveFood()">
    
    <!-- HEADER -->
    <abp-modal-header *ngIf="isEdit == false" [title]="'CreateFood' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <abp-modal-header *ngIf="isEdit == true" [title]="'EditFood' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <!-- BODY -->
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodName"> {{ "Name" | localize }} </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodName"
                id="foodName" required maxlength="32" [(ngModel)]="foods.name"/>
            </div>
        </div>

        <!-- IMAGE -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="chooseImageFile"> {{ "Image" | localize }} </label>
            <div class="col-md-9">
                <input class="ImageClass" type="file" accept="image/*" name="chooseImageFile"
                    id="chooseImageFile" (change)="onFileSelected($event)"/>
            </div>
        </div>

        <!-- AVAILABILITY -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodAvailability"> {{ "Availability" | localize }} </label>
            <div class="col-md-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="foodAvailability" id="foodAvailability"
                        [(ngModel)]="foods.availability"/>
                    <label class="form-check-label" id="foodAvailabilityLabel" for="foodAvailability">Available</label>
                </div>
            </div>
        </div>

        <!-- QUANTITY -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodQty"> {{ "Quantity" | localize }} </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="foodQty" id="foodQty" [(ngModel)]="foods.quantity">
            </div>
        </div>

        <!-- CATEGORY -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodCategory"> {{ "Category" | localize }} </label>
            <div class="col-md-9">
                <select class="form-control" [ngModel]="selectedCategoryId" (ngModelChange)="selectedCategoryId=$event" 
                    name="foodCategory" id="foodCategory" required>
                    <option></option>
                        <option *ngFor="let category of categories" [ngValue]="category.id">
                            {{ category.name }}
                        </option>
                </select>
            </div>
        </div>

        <!-- TYPE -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodType"> {{ "Cuisine" | localize }} </label>
            <div class="col-md-9">
                <select class="form-control" [ngModel]="selectedTypeId" (ngModelChange)="selectedTypeId=$event" 
                    name="foodType" id="foodType" required>
                    <option></option>
                        <option *ngFor="let type of types" [ngValue]="type.id">
                            {{ type.name }}
                        </option>
                </select>
            </div>
        </div>

        <!-- SIZE -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodSize"> {{ "Size" | localize }} </label>
            <div class="col-md-9">
                <select class="form-control" [ngModel]="selectedSize" (ngModelChange)="selectedSize=$event"
                    name="foodSizeEnabled" id="foodSizeEnabled" *ngIf="selectedCategoryId != 4 && selectedCategoryId != 2" [disabled]="!isDisabled">
                    <option></option>
                        <option *ngFor="let food of foodLabels" [ngValue]="food">
                            {{food}}
                        </option>
                </select>
                <select class="form-control" name="foodSizeDisabled" id="foodSizeDisabled" *ngIf="selectedCategoryId == 2 || selectedCategoryId == 4" [disabled]="isDisabled">
                    <option value="optionDisabled">No Sizes Available</option>
                </select>
            </div>
        </div>

        <!-- PRICE -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodPrice"> {{ "Price" | localize }} </label>
            <div class="col-md-9">
                <div class="currency-wrap">
                    <span class="currency-code">&#8369;</span>
                    <input type="float" class="text-currency" placeholder="Amount" [formControl]="amountCtrl"
                        [value]="amountCtrl.value | number: '1.2-2'" aria-label="Amount" [(ngModel)]="foods.price"/>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createOrEditFoodModal.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>

</form>
