<div [@routerTransition]>
    <section class="content-header">
        <div class="card text-center">
            <div class="card-header">
                <h1>{{ "ViewOrderDetails" | localize }}</h1>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="card details-card">                
                <div class="row justify-content-center">
                    
                    <!-- FOOD IMAGE -->
                    <div class="col-md-6 col-sm-12 mx-auto" *ngIf="food.image">
                        <img class="img-fluid details-img" [src]="'data:' + food.imageFileType + ';base64,' + food.image" alt="">                     
                    </div>

                    <div class="col-md-6 col-sm-12 description-container p-5">
                        <div class="main-description">
                            
                            <!-- FOOD NAME -->
                            <p class="product-category mb-0">{{food.category?.name}}</p>
                            <h3>{{food.name}}</h3>                                
                            <hr>
                            
                            <!-- PRICE -->
                            <p class="product-price"><span class="currency-code">&#8369;</span>{{ priceAmount | number:'1.2-2' }}</p>
                            <hr>
                            
                            <!-- QTY -->
                            <label>Quantity</label>
                            <input type="number" #inputQty class="form-control orderDetailsQty" id="cart_quantity" name="cart_quantity" value="1" min="1" max={{food.quantity}} [(ngModel)]="orderQty" (ngModelChange)="CheckQtyInput($event, inputQty, food.quantity)"/>
                            <hr>
                            
                            <!-- SIZE -->
                            <label>Size</label>                 
                            <select class="form-control" [ngModel]="food.size" (ngModelChange)="selectedSize=$event" (change)="UpdateFoodSize(food, selectedSize)" 
                                    name="foodSizeEnabled" id="foodSizeEnabled" *ngIf="food.categoryId != 4 && food.categoryId != 2" [disabled]="!isDisabled">
                                <option *ngFor="let food of foodLabels" [ngValue]="food">
                                    {{food}}
                                </option>
                            </select>
                            <select class="form-control" name="foodSizeDisabled" id="foodSizeDisabled" *ngIf="food.categoryId == 2 || food.categoryId == 4" [disabled]="isDisabled">
                                <option value="optionDisabled">No Sizes Available</option>
                            </select>
                            <hr>
                            
                            <!-- NOTES -->
                            <label>{{ 'NotesAndSpecialInstruction' | localize}}</label>
                            <textarea class="form-control" [(ngModel)]="orderNotes" placeholder="Please let us know if you are allergic to anything or if we need to avoid anything. (e.g No ketchup)"></textarea>
                            <hr>

                            <!-- ADD TO CART -->
                            <button name="add_to_cart" type="submit" class="btn btn-md" (click)="addToCartOrder(food.id)">Add to cart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
</div>