<form class="form-horizontal"
    autocomplete="off" 
    #createCustomerModal="ngForm"
    (ngSubmit)="save()">

<abp-modal-header 
    [title]="'CreateNewCustomer' | localize"
    (onCloseClick)="bsModalRef.hide()">
</abp-modal-header>

<div class="modal-body">
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
        </label>
        <div class="col-md-9">
            <input type="text"
                class="form-control"
                name="name"
                id="name"
                required
                maxlength="32"
                [(ngModel)]="customer.name"
                #nameModel="ngModel"
                #nameEl/>            
            <abp-validation-summary
                [control]="nameModel"
                [controlEl]="nameEl">
            </abp-validation-summary>            
        </div>        
    </div>
    <!-- Division -->
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="divisionName">
            {{ "Division" | localize }}
        </label>
        <div class="col-md-9">
            <select 
            [ngModel]="selectDivisionId" 
            (ngModelChange)="selectDivisionId=$event"
            name="name" id="name" required style="width: 570px; height: 40px; border-radius:5px;">
                <option *ngFor="let division of divisions" [ngValue]="division.id">
                    {{ division.name }}
                </option>
            </select>
        </div>
    </div>
</div>
<abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createCustomerModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
